.navbar{
    height: 80px;
    background-color: #1D8B8E;
}
.navbar-toggler-icon{
    width: 30px;
    height: 30px;
    color: white;
}
.navbar-brand{
    color: white;
}
.navbar-text{
    display: inline;
    color: white;
    margin-right: 20px;
    font-size: 24px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}