body{
    margin: 0px;
    background-color: #083130;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: #1D8B8E;
}
#nav-icon{
    width: 30px;
    height: 30px;
    margin: 0px 15px;
}
#nav-text{
    color: #ffffff;
    font-size: 1.25rem;
    font-family: "Roboto",sans-serif;
}
#logo-sec{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30vh;
}
#text{
    align-self: center;
    color: #ffffff; 
    font-family: "Roboto",sans-serif;
}


@media(min-width: 600px){
    #nav-text{
        color: #ffffff;
        font-size: 2rem;
    }
    #logo-sec{
        justify-content: center;
    }
    #text{
        font-size: 2rem;
        align-self: center;
    }
}